
body{
    background-position:left top;
    background-repeat:no-repeat;
    height:auto;
    width:auto;
}

.noscroll {
    position: fixed;
    overflow-y:scroll;
}
.disScroll{
    height: 100%;
    overflow: hidden;
}

/* image  */
.bg{
    z-index:-1;
    position : absolute;
}

.basic{
    z-index:0;
    position : absolute;
}

.fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}


/* text  */
.imgTxt{
    z-index:1;
    position : absolute;
    font-size: 2em;
    font-family: Microsoft JhengHei;
    text-align: center;
    color: #FFFFFF;
    width:7.4em;
}
.MainMedia{
    width:9em;
}
.center {
    z-index:10;
    display: block;
    margin: auto 8.5em;
}